@charset "UTF-8";

* {
    margin: 0px;
}
html, body {
    background-color: black;
    height: 100vh;
}
body {
    background-image: url("../imagens/fundo-madeira.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main {
    height: 100vh;
    position: relative;
    
}

section#telefone {
    background-image: url("../imagens/frame-iphone.png");
    height: 637px;
    width: 311px;
    background-repeat: no-repeat;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
      
}

iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 263px;
    height: 467px;
    
    
}
section#redes-sociais {
    text-align: right;
    
}
section#redes-sociais img {
    border-radius: 300px 300px;
    width: 50px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}
section#redes-sociais img:hover {
    border: 1px solid rgba(255, 255, 255, 0.562);
    transform: translate(-5%, -7%);
    transition: transform 0.5s, border 1s;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.486);
}
